@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  @apply rubik bg-orange-50;
}

a {
  @apply text-green-700 hover:text-green-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-green-900;
}

h1 {
  @apply text-2xl pb-3;
}

h2 {
  @apply text-xl pb-3;
}

h3 {
  @apply pb-3;
}

figure {
  @apply text-sm italic my-3;
}

p {
  @apply pb-3;
}

nav {
  @apply py-3;
}

.container, header, footer {
  @apply my-8 px-4 max-w-prose mx-auto;
}

.bullet {
  list-style: disc;
  @apply ml-6;
}

li {
  @apply mb-2;
}

label {
  @apply pb-2 block text-green-900 font-bold;
}
input, textarea {
  @apply w-full p-2 border rounded font-normal text-black;
}
button {
  @apply bg-green-900 text-white p-2 rounded;
}